:root {
    --blue: #175cff;
    --dark-blue: #172953;
    --bluish-gray: #525763;
    --light-gray: #ccc;
    --dark-grey: #333;
    --neutral: #f1f1f1;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: var(--neutral);
    height: 100vh;
}

.container h1 {
    color: var(--blue);
    font-size: 60px;
}

.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: var(--dark-grey);
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: var(--dark-blue);
    min-width: 90px;
}

.separator {
    padding: 0 10px;
    color: var(--bluish-gray);
}

#milliseconds {
    font-size: 30px;
    color: var(--bluish-gray);
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid var(--light-gray);
    transition: all 0.2 ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

#startBtn {
    background-color: var(--blue);
    color: var(--white);
}

#pauseBtn,
#resumeBtn {
    display: none;
}